<!-- header code file start -->
<%-include("includes/head.ejs")%>
<!-- header code file end -->
<body>
    
    <!-- nav code file -->
    <%- include("includes/nav.ejs")
    %>
    <!-- nav code file -->


    <div id="about">
        <div id="heading">
            <h1>about</h1>
            <h1 class="">Nk_photography</h1>
        </div>
        <div id="imgg">

            <div id="imgscroll">

                <img src="https://images.pexels.com/photos/8985533/pexels-photo-8985533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">


               
                  <img src="https://images.pexels.com/photos/7263747/pexels-photo-7263747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">



                  <img src="https://images.pexels.com/photos/10762587/pexels-photo-10762587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            </div>
          
        </div>

        <div id="text_container">
        <div id="text">
        
            <div id="left_text">
                <p>NK_ Photography</p>
            </div>
<div id="right_text">
    <p>
        Welcome to NK Photography, where moments come alive through the lens of Nitish, a seasoned photographer with a decade of expertise and boundless creativity. <br>At NK Photography, we specialize in a diverse range of services tailored to meet your every need. From enchanting wedding photography to captivating cinematic videos, from the charm of pre-wedding shoots to the precision of product photography, our work is infused with a unique artistic flair.<br> Nitish's creativity knows no bounds, whether crafting stunning Instagram reels, orchestrating dynamic model shoots, or bringing innovative concepts to life. <br>With NK Photography, you're not just hiring a service; you're investing in a journey of visual excellence and unforgettable moments, guided by a passion for creative storytelling.<br> Let us transform your vision into timeless artistry, one click at a time.</p>
 
</div>
        </div>
    </div>

<div id="tag_container">

    <div id="tag">
<div id="left_tag"><img src="https://images.pexels.com/photos/11046597/pexels-photo-11046597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>
<div id="right_tag">
    <span>pictures to------<br> <span>Tell stories</span>
</div>
        
    </div>



</div>















 </div>
 <div id="middle_container">

    <div id="middle">
        <div id="middle_tag">
            <span>our company<br> <span>----values</span>
        </div>
<p>
    At NK Photography, our values are the cornerstone of everything we do. <br>Integrity lies at the heart of our operations, ensuring honesty, transparency, and reliability in every interaction. <br>We are committed to excellence, continuously pushing the boundaries of creativity and innovation to deliver exceptional results that exceed expectations. <br>Passion fuels our work, driving us to pour our hearts into every project, capturing the essence of each moment with sincerity and enthusiasm. We value collaboration, cherishing the relationships we build with our clients and partners, and striving to understand and fulfill their unique needs and aspirations. <br>Respect and empathy guide our interactions, fostering a supportive and inclusive environment where every individual feels valued and heard. <br>With NK Photography, you can trust in our unwavering dedication to these values, ensuring an experience that is not only memorable but also meaningful.</p>

<h4>work with us</h4>


<div id="imgg2">



    <div id="imgscroll2">

        <img src="https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">


       
          <img src="https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">



          <img src="https://images.pexels.com/photos/11950984/pexels-photo-11950984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
  
</div>

<div id="box_container">
    <div id="box">
<div id="one"><span>01</span> <h3>wedding <br> shoots</h3></div>
<div id="two"><span>03</span> <h3>pre-wedding <br> shoot</h3></div>
<div id="three"><span>02</span> <h3>brand <br> shoot</h3></div>
<div id="four"><span>04</span> <h3>instagram-reels<br>shoot</h3></div>


    </div>
</div>


    </div>





</div>

<div id="last_container">
    <div id="last">
        <div id="about">
            <div id="middle_tag">
                <span>Meet our <br> <span>--creators</span>
                <hr>
            </div>

<div id="creators">
 <div> <h4>harsh kapoor</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
 <div> <h4>Akash Bhat</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
    
 <div> <h4>Nitish Kashyap</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/12671398/pexels-photo-12671398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
 </div>
    
 

</div>
<hr>
    </div>
</div>

<!-- 
FOOTER CODE file start -->
<%-include("includes/foot.ejs")%>
<!-- footer code file end -->


    </div>
    

    
</div>


</div>
</body>
<script>
    var menu= document.querySelector("#menu")
     var show=document.querySelector("#show")
    
     show.addEventListener("click",function(){
        show.style.color="black"
        menu.style.display="block"
     })
    menu.addEventListener("click",function(){
        
        menu.style.display="none"
        show.style.color="black"
    })
    
    
    // cursor annimation
    
    // var body=document.querySelector("body")
    
    // var pointer=document.querySelector("#pointer")
    
    // body.addEventListener("mouseover",function(e){
    //     pointer.style.display="block"
    //  pointer.style.top=e.pageY +"px"
    // pointer.style.left=e.pageX +"px"
    // console.log(e)
        
    // })
    var colour=document.querySelector("#color")
    var picture=document.querySelectorAll("img")
     colour.addEventListener("click",function(){
        setTimeout(function(){
            for(picture of picture){
            picture.style.filter="none"
            console.log("timeout")
        }
        },100)
    
       
      
     })
      
    
    
    
    </script>
</html>